.add-medications-class {
  margin: 100px auto;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  align-items: center;
  min-height: 200px;
  box-shadow: 0 -6px 20px 20px rgba(0, 0, 0, 0.1);
}

h1.add-medications-header {
  text-align: center;
}

.add-medications-img {
  z-index: -1000;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  height: 1080px;
  opacity: 0.5;
}
